@use "./Vars" as *;

* {
  box-sizing: border-box;
  // background-color: $bg-color;
}

select {
  border: none;
  outline: none;
  padding: 10px 5px;
  font-size: 20px;
  margin: 0 5px;
  border: 1px solid $border-color;
  border-radius: 10px;
}

input {
  outline: none;
  border: 1px solid $border-color;
  padding: 5px;
  border-radius: 10px;
  margin: auto 5px;
}

button {
  background-color: black;
  color: white;
  padding: 5px 20px;
}

form {
  padding: 5px;
}

li {
  list-style-type: none;
}
ul {
  // background-color: red;
}
h4 {
  font-size: 23px;
  padding: 5px;
}

p {
  font-size: 18px;
  padding: 5px;
}

svg {
  color: black;
  font-size: 20px;
  margin: auto 8px;
}

a {
  // display: block;
  margin: 10px 0;
  color: black;
  text-decoration: none;
}

span {
  font-size: 20px;
  font-weight: bolder;
}

.back {
  background-color: $bg-color;
}
