* {
  box-sizing: border-box;
}

select {
  border: none;
  outline: none;
  padding: 10px 5px;
  font-size: 20px;
  margin: 0 5px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

input {
  outline: none;
  border: 1px solid gainsboro;
  padding: 5px;
  border-radius: 10px;
  margin: auto 5px;
}

button {
  background-color: black;
  color: white;
  padding: 5px 20px;
}

form {
  padding: 5px;
}

li {
  list-style-type: none;
}

h4 {
  font-size: 23px;
  padding: 5px;
}

p {
  font-size: 18px;
  padding: 5px;
}

svg {
  color: black;
  font-size: 20px;
  margin: auto 8px;
}

a {
  margin: 10px 0;
  color: black;
  text-decoration: none;
}

span {
  font-size: 20px;
  font-weight: bolder;
}

.back {
  background-color: #f8f8f8;
}

* {
  font-size: 20px;
}

.nav1 {
  padding: 10px 0;
}
.nav1 .firCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav1 .firCon .firConChild {
  margin-right: 20px;
}
.nav1 .selectCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav2 {
  padding: 10px 0;
}
.nav2 .secCon {
  display: flex;
  align-items: center;
}
.nav2 .secCon .secConChildOne {
  text-align: start;
  margin: auto;
}
.nav2 .secCon .secConChildTwo {
  text-align: center;
}
.nav2 .secCon .secConChildTwo form {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.nav2 .secCon .secConChildThree {
  text-align: end;
  overflow: hidden;
}

.nav3 {
  background-color: #ffbb38;
  padding: 0;
}
.nav3 .nav3Con {
  padding: 0;
}
.nav3 .nav3Con .dropdownCon {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav3 .nav3Con .dropdownCon .firstDropdown {
  background-color: white;
  padding: 0 60px 0 10px;
  font-size: 21px;
  transform: translateY(10px);
}
.nav3 .nav3Con .navbar-expand-lg {
  padding: 0;
}

.picsCon {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  margin-bottom: 30px;
}
.picsCon .picsConleft {
  height: 450px;
}
.picsCon .picsConleft img {
  width: 100%;
  height: 100%;
}
.picsCon .picsConRigth {
  height: 450px;
}
.picsCon .picsConRigth img {
  width: 100%;
  height: 50%;
}

.fourCon svg {
  color: #ffbb38;
  font-size: 30px;
  padding: 10px;
}

.gamerWorled .imgin {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 5px;
  position: relative;
  overflow: hidden;
}
.gamerWorled .imgin .imgCon {
  background-color: white;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gamerWorled .imgin img {
  max-width: 60%;
  max-height: 100%;
}
.gamerWorled .imgin .linkCon {
  background-color: white;
}
.gamerWorled .imgin .priOne {
  color: gray;
  -webkit-text-decoration: line-through 1px;
          text-decoration: line-through 1px;
  margin: 0 4px;
}
.gamerWorled .imgin .priTwo {
  color: red;
}
.gamerWorled .imgin:hover {
  transform: scale(110%);
}

.disCon {
  background-image: url("../Components/imges/discount-banner-1.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.disCon span {
  color: #ffbb38;
  font-size: 40px;
}
.disCon button {
  background-color: #ffbb38;
  border: 1px solid #ffbb38;
}

.foot3 {
  margin-bottom: 10px;
}
.foot3 .container {
  padding: 40px 0;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
.foot3 a {
  display: block;
}

.FootersContainer {
  background-color: #f8f8f8;
}/*# sourceMappingURL=main.css.map */