:root {
  --main-color: #ffbb38;
  --background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
  /* background-color: orange; */
  background-color: var(--background-color);
}

.Navo1 {
  margin: 10px 0;
  border-bottom: 1px solid rgb(220, 220, 220);
  /* background-color: white; */
}

.Navo2 {
  background-color: var(--background-color);
}

.topAccount {
  display: flex;
  align-items: center;
}

.topAccountRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Navo1 a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

/* section 2  nav 2 */
.notis a {
  color: black;
  margin: auto 10px;
}

.Navo3 {
  background-color: var(--main-color) !important;
  height: auto;
}
.Navo3 .container {
  background-color: #ffbb38 !important;
  padding: 10px;
}

.Navo3 .container-fluid {
  /* margin-bottom: -12px !important; */

  background-color: var(--main-color);
  transform: translateY(19px);
}

.fixbackground {
  background-color: var(--main-color);
}

#btnNav {
  background-color: black;
  border-radius: 0;
  border: black 2px solid;
  padding: 5px 20px;
}
#navbarScroll {
  padding: 0 0 20px 30px;
}

#navbarScrollingDropdown1 {
  padding: 14px 30px;
  background-color: white;
}

/* section AD */

.picsCon {
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  margin-bottom: 30px;
}

.picsConleft {
  height: 450px;
}

.picsConleft img {
  width: 100%;
  height: 100%;
}

.picsConRigth {
  height: 450px;
}

.picsConRigth img {
  width: 100%;
  height: 50%;
}

/* section 3 */

.icoCon {
  color: var(--main-color);
  font-size: 40px;
  padding: 0 20px;
}

/* section 4 */

.imgin {
  /* width: 100%; */
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
  /* border: 1px solid red; */
}

.imgin:hover {
  transform: scale(110%);
}

.imgin img {
  width: 60%;
  height: 150px;
}

.imgin a {
  display: block;
  margin: 10px 0;
  color: black;
  text-decoration: none;
}

.imgin span {
  font-size: 20px;
  font-weight: bolder;
}

.flowbut {
  position: absolute;
  bottom: 10%;
  color: black;
  background-color: var(--main-color);
  border: transparent;
  padding: 5px 30px;
  width: 95%;
  transition: 0.3s;
  transform: translatey(250%);
}

.likeshover {
  position: absolute;
  right: 5%;
  top: 20%;
  transition: 0.3s;
  transform: translatex(300%);
}

.imgin:hover .flowbut {
  transform: translate(0%);
}

.imgin:hover .likeshover {
  transform: translate(0%);
}

.priOne {
  color: gray;
  text-decoration: line-through 1px;
  margin: 0 4px;
}

.priTwo {
  color: red;
}
/* section  */

.BrandCon h3 {
  margin: 40px 5px;
}
.BrandCon div {
  height: 130px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(240, 240, 240);
}

/* section  */

.wooAd {
  height: 400px;
  position: relative;
  background-color: #faf2ff;
}

.timer {
  height: 40%;
}

.WoowLink {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 50px;
  font-weight: bold;
}
.WoowShop {
  display: block;
  text-decoration-color: #ffbb38;
  color: black;
}

.wooAd img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 40%;
}
/* section */

.timerH {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timerH div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 10px 0;
  font-size: 30px;
  font-weight: bold;
  color: crimson;
}

.timerH p {
  font-size: 20px;
  letter-spacing: 1px;
}

.mobCon {
  background-color: #e5eaee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 400px;
  overflow: hidden;
}

.mobdown {
  padding: 10px 10px;
}

/* section */

.viewMore {
  text-decoration: none;
  color: black;
  margin: auto 10px;
  cursor: pointer;
}

/* section */

.roundPic:hover {
  transform: scale(120%) rotate(5deg);

  /* transition: 0.1s ease-in-out; */
}

/* section */

.LabRightAd {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downAd {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.downAd a {
  color: black;
  text-decoration: none;
  line-height: 25px;
  font-size: 20px;
  margin: 10px 0;
}

.downAd span {
  font-size: 20px;
  font-weight: bolder;
}

.btnCard {
  background-color: var(--main-color);
  border: transparent;
  width: max-content;
  padding: 8px 40px;
  margin-top: 20px;
}

/* section */

.popCon {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popCon img {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.popCon a {
  display: block;
  max-width: 100%;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.smpri1 {
  color: gray;
  text-decoration: line-through;
  font-weight: bold;
  font-size: 20px;
}
.smpri2 {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

/* section */

.disCon {
  background-image: url("./Components/imges/discount-banner-1.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disinsidecon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disinsidecon span {
  color: #ffbb38;
}

.Eform {
  box-sizing: border-box;
  height: 70px;
}

.Eform input {
  padding: 5px 10px;
  font-size: 20px;
  border-style: none;
  width: 300px;
  height: 90%;
}
.Eform button {
  padding: 0 20px;
  font-size: 20px;
  border-style: none;
  height: 90%;
  background-color: var(--main-color);
}

.foot2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.foot3 .container {
  border-top: 1px solid gainsboro;
  padding-top: 30px;
}

.foot3 {
  margin-bottom: 40px;
}
.foot3 p {
  width: 80%;
  font-size: 22px;
}

.foot3 a {
  color: black;
  font-size: 22px;
  text-decoration: none;
  display: block;
}

.foot4 .container {
  border-top: 1px solid gainsboro;
  padding: 20px 0;
}
